@tailwind base;
@tailwind components;
@tailwind utilities;

.website-container {
  /* Force content to fit width */
  max-width: 100%;
}

/* Target all elements inside the container */
.website-container * {
  max-width: 100% !important;
  width: auto !important;
  height: auto;
  box-sizing: border-box;
  
}
